@media screen and (max-width: 1600px) {
  .container {
    width: 1440px;
  }
}

/* ipad pro */
@media screen and (max-width: 1366px) {
  .container {
    width: 1024px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    margin: 0;
    padding: 10px 110px;
    display: block;
  }
  .header .col-7 {
    margin: 0;
  }
  .header .col-7 ul {
    margin: 0;
  }
  .header .col-7 ul li {
    margin: 10px 80px 0 0;
  }
  .hero__top {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__top .col-8 {
    width: 70%;
    margin-top: 50px;
  }
  .hero__top .title {
    width: 60%;
  }
  .hero__top .next, .hero__top .prev {
    padding: 5px;
  }
  .about .container .about__items {
    margin: 100px 0;
    width: 770px;
  }
  .about .container .about__items .about__main .title {
    font-size: 40px;
  }
  .about .container .about__items .about__main p {
    width: 220px;
    margin-bottom: 115px;
  }
  .tasks .title {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 100px;
  }
  .tasks .task__numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tasks .task__numbers .task__number1 p {
    margin-left: 38px;
  }
  .projects .container .project__items .title {
    padding: 10px;
    margin-left: 265px;
  }
  .projects .container .project__items .project__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 215px;
  }
  .projects .container .project__items .project__images .project__image .project-image__info {
    width: 192%;
  }
  .projects .container .project__items .project__images .project__image .project-image__info .project-image__button span {
    padding-left: 220px;
  }
  .projects .container .project__items .project__images .project__image3 .project-image__info {
    margin-left: 149px;
    top: 15px;
    width: 45%;
  }
  .projects .container .project__items .project__images .project__image3 .project-image__info h5 {
    font-size: 40px;
    padding: 65px 0 0;
  }
  .projects .container .project__items .project__images .project__image4 .project-image__info {
    margin-left: 50px;
    width: 470px;
    top: 15px;
  }
  .projects .container .project__items .project__images .project__image4 .project-image__info .project-image__button span {
    padding-left: 190px;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info {
    margin-left: 100px;
    width: 62%;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info h5 {
    padding: 65px 0 0;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info .project-image__button span {
    padding-left: 130px;
  }
  .projects .container .project__items-button {
    margin-right: 200px;
  }
  .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts .container .title {
    margin: 0 265px 50px;
  }
  .contacts .container .contacts__parties .contacts__left {
    margin-left: 100px;
  }
  .contacts .container .contacts__parties .contacts__left .form textarea {
    width: 322px;
  }
  .contacts .container .contacts__parties .contacts__right img {
    width: 550px;
  }
  .contacts .container .contacts__button {
    margin-left: 100px;
  }
  .footer {
    padding-bottom: 500px;
  }
  .footer .container {
    height: 200px;
  }
  .footer .container .footer__row {
    margin: 10px;
    padding: 10px;
  }
  .footer .container .footer__row .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container .footer__row ul li:first-child {
    padding: 0;
    margin: 0;
  }
  .footer .container .footer__info {
    margin: 0 20px;
  }
  .footer .container .footer__social {
    margin-right: 20px;
  }
  .footer .container .footer__social .footer__social-icons {
    width: 20px;
    height: 20px;
  }
  .footer .container .footer__social .footer__social-icons img {
    padding: 5px;
  }
  .footer .container hr {
    margin: 0;
  }
  .footer .container .copyright {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-hero__title {
    margin: 0 108px 110px;
  }
  .gallery-hero__title h1 {
    font-size: 32px;
  }
  .gallery-hero__title h2 {
    font-size: 32px;
  }
  .gallery-hero__images {
    margin: 0 108px 110px;
  }
  .gallery-hero__slider {
    margin: 0 108px;
  }
  .projects-hero-view .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: justify;
  }
  .projects-hero-view .container .projects-hero__title {
    margin-left: 350px;
  }
  .projects-hero-view .container .projects-hero__title h1 {
    margin-left: 60px;
  }
  .projects-hero-view__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-hero-view__row .titles {
    margin-top: 50px;
  }
  .projects-hero-view__row .titles .arrow {
    margin-left: 80px;
  }
  .projects-hero-view .gallery-hero__slider {
    margin: 0 340px;
  }
  .certificates .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .certificates__title {
    text-align: center;
    margin-bottom: 100px;
  }
  .certificates__img {
    margin-left: 126px;
    margin-bottom: 80px;
  }
  .certificates__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .certificates__row .certificates__title {
    margin-bottom: 40px;
  }
  .parking__wrapper {
    margin-left: 100px;
  }
  .parking__img img {
    width: 800px;
  }
  .parking__view {
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 580px;
  }
}

/* ipad */
@media screen and (max-width: 1000px) {
  .container {
    width: 992px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    margin: 0;
    padding: 10px 40px;
    display: block;
  }
  .header .col-7 {
    margin: 0;
  }
  .header .col-7 ul {
    margin: 0;
  }
  .header .col-7 ul li {
    margin: 10px 70px 0 0;
  }
  .gallery-hero__title {
    margin: 0 40px;
  }
  .gallery-hero__title h1 {
    font-size: 32px;
  }
  .gallery-hero__title h2 {
    font-size: 32px;
  }
  .gallery-hero__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 290%;
  }
  .footer {
    padding-bottom: 140px;
  }
  .footer .container {
    height: 400px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin: 0 0 20px 0;
  }
  .footer__logo img {
    width: 60%;
  }
  .footer__info {
    margin: 0 0 10px 40px;
  }
  .footer__info .footer__span {
    font-size: 12px;
    margin: 0;
  }
  .footer__info ul li {
    font-size: 10px;
    margin: 0;
  }
  .footer__contacts {
    width: 150px;
    margin: 0 0 10px 20px;
  }
  .footer__contacts .footer__span {
    font-size: 12px;
    margin: 0;
  }
  .footer__contacts ul li {
    margin: 0;
    font-size: 10px;
  }
  .footer__contacts ul li:last-child {
    margin: 0;
  }
  .footer__contacts ul li:last-child svg {
    margin: 0 5px 0 0;
    width: 15px;
  }
  .footer__contacts ul li .location {
    margin: 0;
  }
  .footer__contacts ul li .location svg {
    margin: 0;
  }
  .footer__contacts ul li .location div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
    height: 30px;
  }
  .footer__contacts ul li .number {
    margin: 0;
  }
  .footer__contacts ul li .number svg {
    margin: 0 5px 0 0;
    width: 15px;
  }
  .footer__social {
    margin: 0 0 10px 20px;
  }
  .footer__social .footer__span {
    font-size: 12px;
    margin: 0;
  }
  .footer__social .footer__social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .copyright {
    width: 500px;
  }
  .col-8 img {
    width: 100%;
  }
  .about .container .about__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .about__items .about__item img {
    width: 72%;
  }
  .about .container .about__items .about__main {
    margin-left: 260px;
  }
  .about .container .about__items .about__main p {
    text-align: center;
  }
  .about .container .about__items .about__item-two .about__image3 {
    margin: 30px 0 0 100px;
    width: 72%;
  }
  .tasks .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tasks .container h3 {
    margin-left: 120px;
  }
  .tasks .container .task__numbers {
    margin-left: 100px;
  }
  .projects .container .project__items .title {
    margin-left: 162px;
  }
  .projects .container .project__items .project__images {
    margin-left: 100px;
  }
  .projects .container .project__items .project__images .project__image .project-image__info {
    width: 192%;
  }
  .projects .container .project__items .project__images .project__image .project-image__info .project-image__button span {
    margin-left: 160px;
  }
  .projects .container .project__items .project__images .project__image3 .project-image__info {
    margin-left: 150px;
    width: 45%;
    height: 90%;
    top: 12px;
  }
  .projects .container .project__items .project__images .project__image3 .project-image__info h5 {
    padding: 65px 0 0;
    font-size: 40px;
  }
  .projects .container .project__items .project__images .project__image4 .project-image__info {
    margin-left: 50px;
    top: 13px;
    width: 471px;
  }
  .projects .container .project__items .project__images .project__image4 .project-image__info .project-image__button span {
    padding-left: 180px;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info {
    margin-left: 100px;
    top: 15px;
    width: 62%;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info h5 {
    padding-top: 70px;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info .project-image__button span {
    padding-left: 136px;
  }
  .contacts .container .contacts__parties .contacts__left {
    margin-bottom: 50px;
  }
  .contacts .container .contacts__parties .contacts__left .form textarea {
    width: 368px;
  }
  .contacts .container .title {
    margin: 10px 120px 50px;
  }
  .contacts__parties {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 100px;
  }
  .contacts__right {
    margin-bottom: 20px;
  }
  .projects-hero-view .container .projects-hero__title {
    margin-left: 230px;
  }
  .projects-hero-view__row {
    display: block;
    margin-left: 50px;
  }
  .projects-hero-view__row .titles .project__title {
    width: 100%;
  }
  .projects-hero-view__row .titles .subtitle {
    width: 70%;
    height: 50px;
  }
  .projects-hero-view__row .titles .arrow {
    margin-left: 200px;
  }
  .projects-hero-view .gallery-hero__slider {
    margin: 0 230px;
  }
  .projects-hero-view .gallery-hero__slider .hero__pages svg {
    margin: 0 15px;
  }
  .certificates__title {
    margin-left: -190px;
  }
  .certificates__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 72%;
    margin-left: -90px;
  }
  .certificates .gallery-hero__slider {
    margin-right: 80px;
  }
  .certificates__row .certificates__right {
    margin-right: 250px;
  }
  .certificates__row .certificates__right img {
    width: 72%;
  }
  .certificates__row .certificates__left {
    margin-right: 220px;
  }
  .certificates__row .certificates__left .certificates__title {
    margin-left: 1px;
  }
  .parking__title {
    margin: 0 -30px 50px;
  }
  .parking__img img {
    width: 65%;
  }
  .parking__view p {
    width: 550px;
  }
}

/* Iphone */
@media screen and (max-width: 576px) {
  .container {
    width: auto;
  }
  .header .col-7 ul li {
    margin: 10px 10px 0 0;
  }
  .header .col-7 ul a {
    font-size: 8px;
  }
  .hero__top .title .col-4 h1, .hero__top .title .col-4 h2 {
    font-size: 22px;
  }
  .hero__top .title .next, .hero__top .title .prev {
    padding: 0;
    margin: 0;
  }
  .hero__top .title .hero__pages span {
    font-size: 15px;
  }
  .hero__top .title .hero__pages svg {
    margin: 0;
    height: 15px;
  }
  .hero__top .project__image {
    width: 80%;
  }
  .hero__top .project__image .project__look {
    padding: 10px;
  }
  .hero__top .project__image .project__look span {
    font-size: 6px;
  }
  .hero__top .project__image .project__look svg {
    width: 12px;
  }
  .about .container .about__items .about__item img {
    width: 80%;
    margin: 0 0 20px 40px;
  }
  .about .container .about__items .about__item-two .about__image3 {
    width: 80%;
    margin: 0 0 0 40px;
  }
  .about .container .about__items .about__main {
    margin: 20px 70px;
  }
  .tasks .container .title {
    margin: 0;
    font-size: 44px;
    text-align: center;
  }
  .tasks .container .task__numbers {
    margin-left: 50px;
  }
  .tasks .container .task__numbers .task__number1 span {
    height: 180px;
    font-size: 120px;
  }
  .tasks .container .task__numbers .task__number1 p {
    font-size: 14px;
  }
  .tasks .container .task__numbers .task__number2 span {
    height: 180px;
    font-size: 120px;
  }
  .tasks .container .task__numbers .task__number2 p {
    font-size: 14px;
    margin-left: 20px;
    width: 175px;
    height: 160px;
  }
  .projects .container .project__items .title {
    margin: 60px 40px 40px;
    font-size: 44px;
  }
  .projects .container .project__items .project__images {
    margin-left: 40px;
  }
  .projects .container .project__items .project__images .project__image .project-image__info {
    height: 78px;
    top: 15px;
    padding-left: 110px;
    width: 88%;
  }
  .projects .container .project__items .project__images .project__image .project-image__info h5 {
    font-size: 24px;
    margin-left: -80px;
    padding-top: 0;
  }
  .projects .container .project__items .project__images .project__image .project-image__info .project-image__button span {
    margin: 0 0 0 -15px;
    padding: 0;
  }
  .projects .container .project__items .project__images .project__image img {
    width: 160%;
    margin-bottom: 20px;
  }
  .projects .container .project__items .project__images .project__image3 img {
    width: 50%;
    margin: 0 100px 15px 0;
  }
  .projects .container .project__items .project__images .project__image3 .project-image__info {
    height: 96%;
    width: 50%;
    top: 0;
    margin: 0 48px;
  }
  .projects .container .project__items .project__images .project__image3 .project-image__info h5 {
    font-size: 26px;
    padding: 50px 0 0;
  }
  .projects .container .project__items .project__images .project__image3 .project-image__info .project-image__button span {
    padding-left: 40px;
  }
  .projects .container .project__items .project__images .project__image4 img {
    width: 70%;
    margin: 15px 100px 15px 0;
  }
  .projects .container .project__items .project__images .project__image4 .project-image__info {
    height: 150px;
    width: 274px;
    margin-left: 8px;
    bottom: 19px;
  }
  .projects .container .project__items .project__images .project__image4 .project-image__info h5 {
    padding-top: 30px;
    font-size: 32px;
  }
  .projects .container .project__items .project__images .project__image4 .project-image__info .project-image__button span {
    padding-left: 80px;
  }
  .projects .container .project__items .project__images .project__image5 img {
    width: 300px;
    margin-right: 90px;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info {
    height: 87%;
    width: 77%;
    top: 12px;
    margin: 0;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info h5 {
    padding: 50px 0 0;
    font-size: 50px;
  }
  .projects .container .project__items .project__images .project__image5 .project-image__info .project-image__button span {
    padding-left: 95px;
  }
  .projects .container .project__items .project__items-button .button {
    padding: 10px;
    margin-left: 20px;
  }
  .projects .container .project__items .project__items-button .button a span {
    font-size: 8px;
  }
  .projects .container .project__items .project__items-button .button a svg {
    width: 10px;
  }
  .contacts .container .title {
    font-size: 44px;
    margin-left: 70px;
  }
  .contacts .container .contacts__parties {
    margin: 0;
  }
  .contacts .container .contacts__parties .contacts__left {
    margin-left: 40px;
  }
  .contacts .container .contacts__parties .contacts__left form {
    width: 295px;
  }
  .contacts .container .contacts__parties .contacts__left form textarea {
    width: 275px;
  }
  .contacts .container .contacts__parties .contacts__right img {
    width: 80%;
    height: 100%;
    margin-left: 40px;
  }
  .contacts .container .contacts__button {
    margin-left: 150px;
  }
  .contacts .container .contacts__button .button {
    padding: 5px;
  }
  .contacts .container .contacts__button .button a span {
    font-size: 6px;
  }
  .contacts .container .contacts__button .button a svg {
    width: 12px;
  }
  .gallery-hero__images {
    margin: 0 85px;
  }
  .gallery-hero__image img {
    width: 93%;
  }
  .gallery-hero__image:hover .gallery-hero__info {
    opacity: 1;
    left: 0;
    top: 160px;
  }
  .gallery-hero__image .gallery-hero__info {
    width: 167px;
    padding-left: 10px;
  }
  .gallery-hero__image .gallery-hero__info span {
    font-size: 14px;
  }
  .gallery-hero__slider {
    margin: 0 50px;
  }
  .gallery-hero__slider .next, .gallery-hero__slider .prev {
    margin-top: 80px;
  }
  .projects-hero-view .container .projects-hero__title {
    margin: 0;
  }
  .projects-hero-view .container .projects-hero__title h1, .projects-hero-view .container .projects-hero__title h2 {
    font-size: 32px;
    margin: 10px 0 0 40px;
  }
  .projects-hero-view__row {
    margin: 0;
  }
  .projects-hero-view__img {
    margin: 10px 30px 0 40px;
  }
  .projects-hero-view__img img {
    width: 100%;
  }
  .projects-hero-view .titles {
    margin: 20px 0 0 40px;
  }
  .projects-hero-view .titles .project__title {
    font-size: 20px;
  }
  .projects-hero-view .titles .subtitle {
    width: 90%;
    height: 130px;
  }
  .projects-hero-view .titles .arrow {
    margin: 0;
  }
  .projects-hero-view .titles .arrow a {
    padding: 20px;
  }
  .projects-hero-view .titles .arrow a span {
    font-size: 8px;
  }
  .projects-hero-view .titles .arrow a svg {
    width: 12px;
  }
  .projects-hero-view .gallery-hero__slider {
    margin: 0 40px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-hero-view .gallery-hero__slider .hero__pages {
    margin: 0 20px 15px 0;
    height: 20px;
  }
  .projects-hero-view .gallery-hero__slider .hero__pages svg {
    height: 20px;
  }
  .projects-hero-view .gallery-hero__slider .next, .projects-hero-view .gallery-hero__slider .prev {
    margin: 0;
  }
  .certificates__title {
    margin: 0;
  }
  .certificates__title h1, .certificates__title h2 {
    font-size: 32px;
  }
  .certificates__img {
    margin: 0;
  }
  .certificates__slider {
    margin: 0;
  }
  .certificates__row .certificates__right {
    margin: 20px 35px 0 0;
  }
  .certificates__row .certificates__right svg {
    margin: 40px 0 0 -200px;
  }
  .certificates__row .certificates__left {
    margin: 0;
  }
  .parking__wrapper {
    margin: 0 40px;
  }
  .parking__title {
    margin: 0 0 30px;
  }
  .parking__title h1, .parking__title h2 {
    font-size: 32px;
  }
  .parking__img img {
    width: 100%;
  }
  .parking__view {
    height: 850px;
  }
  .parking__view p {
    width: 300px;
    margin: 0;
  }
}
