@media screen and (max-width: 1600px) {
  .container {
    width: 1440px;
  }
}

/* ipad pro */
@media screen and (max-width: 1100px) {
  .container {
    width: 1024px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    margin: 0;
    padding: 10px 110px;
    display: block;
  }
  .header .col-7 {
    margin: 0;
  }
  .header .col-7 ul {
    margin: 0;
  }
  .header .col-7 ul li {
    margin: 10px 80px 0 0;
  }
  .hero__top {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__top .col-8 {
    width: 70%;
    margin-top: 50px;
  }
  .hero__top .title {
    width: 60%;
  }
  .hero__top .next, .hero__top .prev {
    padding: 5px;
  }
  .about .container .about__items {
    margin: 100px 0;
    width: 770px;
  }
  .about .container .about__items .about__main .title {
    font-size: 40px;
  }
  .about .container .about__items .about__main p {
    width: 220px;
    margin-bottom: 115px;
  }
  .tasks .title {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 100px;
  }
  .tasks .task__numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tasks .task__numbers .task__number1 p {
    margin-left: 38px;
  }
  .projects .container .project__items .title {
    padding: 10px;
    margin-left: 265px;
  }
  .projects .container .project__items .project__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 215px;
  }
  .projects .container .project__items-button {
    margin-right: 200px;
  }
  .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts .container .title {
    margin: 0 265px 50px;
  }
  .contacts .container .contacts__parties .contacts__left {
    margin-left: 100px;
  }
  .contacts .container .contacts__parties .contacts__left .form textarea {
    width: 322px;
  }
  .contacts .container .contacts__parties .contacts__right img {
    width: 550px;
  }
  .contacts .container .contacts__button {
    margin-left: 100px;
  }
  .footer .container {
    height: 200px;
  }
  .footer .container .footer__row {
    margin: 10px;
    padding: 10px;
  }
  .footer .container .footer__row .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container .footer__row ul li:first-child {
    padding: 0;
    margin: 0;
  }
  .footer .container .footer__info {
    margin: 0 20px;
  }
  .footer .container .footer__social {
    margin-right: 20px;
  }
  .footer .container .footer__social .footer__social-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20px;
    height: 20px;
  }
  .footer .container .footer__social .footer__social-icons img {
    padding: 5px;
  }
  .footer .container hr {
    margin: 0;
  }
  .footer .container .copyright {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 85vh;
  }
  .gallery-hero__title {
    margin: 0 108px 110px;
  }
  .gallery-hero__title h1 {
    font-size: 32px;
  }
  .gallery-hero__title h2 {
    font-size: 32px;
  }
  .gallery-hero__images {
    margin: 0 108px 110px;
  }
  .gallery-hero__slider {
    margin: 0 108px;
  }
  .projects-hero-view .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: justify;
  }
  .projects-hero-view .container .projects-hero__title {
    margin-left: 350px;
  }
  .projects-hero-view .container .projects-hero__title h1 {
    margin-left: 60px;
  }
  .projects-hero-view__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-hero-view__row .titles {
    margin-top: 50px;
  }
  .projects-hero-view__row .titles .arrow {
    margin-left: 80px;
  }
  .projects-hero-view .gallery-hero__slider {
    margin: 0 340px;
  }
  .certificates .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 86vh;
  }
  .certificates__title {
    text-align: center;
    margin-bottom: 100px;
  }
  .certificates__img {
    margin-left: 126px;
    margin-bottom: 80px;
  }
  .certificates__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .certificates__row .certificates__title {
    margin-bottom: 40px;
  }
  .parking .container {
    height: 168vh;
  }
  .parking__wrapper {
    margin-left: 100px;
  }
  .parking__img img {
    width: 800px;
  }
  .parking__view {
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 580px;
  }
}

/* ipad */
