@media screen and (max-width: 1600px) {
    .container {
        width: 1440px;
    }
}

/* ipad pro */

@media screen and (max-width: 1366px) {
    .container {
        width: 1024px;
        padding: 0;
        margin: 0;
        display: flex;
    }    
    .header {
        margin: 0;
        padding: 10px 110px;
        display: block;
        .col-7 {
            margin: 0;
            ul {
                margin: 0;
                li {
                    margin: 10px 80px 0 0;
                }
            }
        }
    }
    .hero__top {
        margin: 0;
        flex-direction: column;
        .col-8 {
            width: 70%;
            margin-top: 50px;
        }
        .title {
            width: 60%;
        }
        .next, .prev {
            padding: 5px;
        }
    }
    .about {
        .container {
            .about__items {
                margin: 100px 0;
                width: 770px;
                .about__main {
                    .title {
                        font-size: 40px;
                    }
                    p {
                        width: 220px;
                        margin-bottom: 115px;
                    }
                }
            }
        }
    }
    .tasks {
        .title {
            padding: 10px;
            display: flex;
            align-items: center;
            margin-left: 100px;
        }
        .task__numbers {
            display: flex;
            flex-direction: column;
            .task__number1 {
                p {
                    margin-left: 38px;
                }
            }
        }
    }
    .projects {
        .container{
            .project__items {
                .title {
                    padding: 10px;
                    margin-left: 265px;
                }
                .project__images{
                    flex-direction: column;
                    text-align: center;
                    margin-left: 215px;
                }
            }
            .project__items-button {       
                margin-right: 200px;
            }
        }
    }
    .contacts {
        .container {
            flex-direction: column;
            .title {
                margin: 0 265px 50px; 
            }
            .contacts__parties {
                .contacts__left {
                    margin-left: 100px;
                    .form {
                        textarea {
                            width: 322px;
                        }
                    }
                }
                .contacts__right {
                    img {
                        width: 550px;
                    }
                }
            }
            .contacts__button {
                margin-left: 100px;
            }
        }
    }
    .footer {
        .container {
            height: 200px;
            .footer__row {
                margin: 10px;
                padding: 10px;
                .footer__logo {
                    display: flex;
                    align-items: center;
                }
                ul {
                    li {
                        &:first-child {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
            .footer__info {
                margin: 0 20px;
            }
            .footer__social {
                margin-right: 20px;
                .footer__social-icons {
                    flex-direction: column;
                    width: 20px;
                    height: 20px;
                    img {
                        padding: 5px;
                    }
                }
            }
            hr {
                margin: 0;
            }
            .copyright {
                text-align: center;
                align-items: center;
            }
        }
    }
    .gallery-hero {
        .container {
            flex-direction: column;
            height: 85vh;
        }
        &__title {
            margin: 0 108px 110px;
            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 32px;
            }
        }
        &__images {
            margin: 0 108px 110px;
        }
        &__slider {
            margin: 0 108px;
        }
    }
    .projects-hero-view {
        .container {
            flex-direction: column;
            text-align: justify;
            .projects-hero__title {
                margin-left: 350px;
                h1 {
                    margin-left: 60px;
                }
            }
        }
        &__row {
            flex-direction: column;
            align-items: center;
            .titles {
                margin-top: 50px;
                .arrow {
                    margin-left: 80px;
                }
            }
        }
        .gallery-hero__slider {
            margin: 0 340px;
        }
    }
    .certificates {
        .container {
            flex-direction: column;
            align-items: center;
            height: 86vh;
        }
        &__title {
            text-align: center;
            margin-bottom: 100px;
        }
        &__img {
            margin-left: 126px;
            margin-bottom: 80px;
        }
    }
    .certificates__row {
        flex-direction: column-reverse;
        text-align: center;
        .certificates__title {
            margin-bottom: 40px;
        }
    }
    .parking {
        .container {
            height: 168vh;
        }
        &__wrapper {
            margin-left: 100px;
        }
        &__img {
            img {
                width: 800px;
            }
        }
        &__view {
            height: 700px;
            flex-direction: column;
            margin-bottom: 580px;
        }
    }
}

/* ipad */

@media screen and (max-width: 1023px) {

}

