@media screen and (max-width: 1600px) {
    .container {
        width: 1440px;
    }
}

/* ipad pro */

@media screen and (max-width: 1366px) {
    .container {
        width: 1024px;
        padding: 0;
        margin: 0;
        display: flex;
    }    
    .header {
        margin: 0;
        padding: 10px 110px;
        display: block;
        .col-7 {
            margin: 0;
            ul {
                margin: 0;
                li {
                    margin: 10px 80px 0 0;
                }
            }
        }
    }
    .hero__top {
        margin: 0;
        flex-direction: column;
        .col-8 {
            width: 70%;
            margin-top: 50px;
        }
        .title {
            width: 60%;
        }
        .next, .prev {
            padding: 5px;
        }
    }
    .about {
        .container {
            .about__items {
                margin: 100px 0;
                width: 770px;
                .about__main {
                    .title {
                        font-size: 40px;
                    }
                    p {
                        width: 220px;
                        margin-bottom: 115px;
                    }
                }
            }
        }
    }
    .tasks {
        .title {
            padding: 10px;
            display: flex;
            align-items: center;
            margin-left: 100px;
        }
        .task__numbers {
            display: flex;
            flex-direction: column;
            .task__number1 {
                p {
                    margin-left: 38px;
                }
            }
        }
    }
    .projects {
        .container{
            .project__items {
                .title {
                    padding: 10px;
                    margin-left: 265px;
                }
                .project__images{
                    flex-direction: column;
                    text-align: center;
                    margin-left: 215px;
                    .project__image {
                        .project-image__info {
                            width: 192%;
                            .project-image__button {
                                span {
                                    padding-left: 220px;
                                }
                            }
                        }
                    }
                    .project__image3 {
                        .project-image__info {
                            margin-left: 149px;
                            top: 15px;
                            width: 45%;
                            h5 {
                                font-size: 40px;
                                padding: 65px 0 0;
                            }
                        }
                    }
                    .project__image4 {
                        .project-image__info {
                            margin-left: 50px;
                            width: 470px;
                            top: 15px;
                            .project-image__button {
                                span {
                                    padding-left: 190px;
                                }
                            }
                        }
                    }
                    .project__image5 {
                        .project-image__info {
                            margin-left: 100px;
                            width: 62%;
                            h5 {
                                padding: 65px 0 0;
                            }
                            .project-image__button {
                                span {
                                    padding-left: 130px;
                                }
                            }
                        }
                    }
                }
            }
            .project__items-button {       
                margin-right: 200px;
            }
        }
    }
    .contacts {
        .container {
            flex-direction: column;
            .title {
                margin: 0 265px 50px; 
            }
            .contacts__parties {
                .contacts__left {
                    margin-left: 100px;
                    .form {
                        textarea {
                            width: 322px;
                        }
                    }
                }
                .contacts__right {
                    img {
                        width: 550px;
                    }
                }
            }
            .contacts__button {
                margin-left: 100px;
            }
        }
    }
    .footer {
        padding-bottom: 500px;
        .container {
            height: 200px;
            .footer__row {
                margin: 10px;
                padding: 10px;
                .footer__logo {
                    display: flex;
                    align-items: center;
                }
                ul {
                    li {
                        &:first-child {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
            .footer__info {
                margin: 0 20px;
            }
            .footer__social {
                margin-right: 20px;
                .footer__social-icons {
                    width: 20px;
                    height: 20px;
                    img {
                        padding: 5px;
                    }
                }
            }
            hr {
                margin: 0;
            }
            .copyright {
                text-align: center;
                align-items: center;
            }
        }
    }
    .gallery-hero {
        .container {
            flex-direction: column;
        }
        &__title {
            margin: 0 108px 110px;
            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 32px;
            }
        }
        &__images {
            margin: 0 108px 110px;
        }
        &__slider {
            margin: 0 108px;
        }
    }
    .projects-hero-view {
        .container {
            flex-direction: column;
            text-align: justify;
            .projects-hero__title {
                margin-left: 350px;
                h1 {
                    margin-left: 60px;
                }
            }
        }
        &__row {
            flex-direction: column;
            align-items: center;
            .titles {
                margin-top: 50px;
                .arrow {
                    margin-left: 80px;
                }
            }
        }
        .gallery-hero__slider {
            margin: 0 340px;
        }
    }
    .certificates {
        .container {
            flex-direction: column;
            align-items: center;
        }
        &__title {
            text-align: center;
            margin-bottom: 100px;
        }
        &__img {
            margin-left: 126px;
            margin-bottom: 80px;
        }
    }
    .certificates__row {
        flex-direction: column-reverse;
        text-align: center;
        .certificates__title {
            margin-bottom: 40px;
        }
    }
    .parking {
        &__wrapper {
            margin-left: 100px;
        }
        &__img {
            img {
                width: 800px;
            }
        }
        &__view {
            height: 700px;
            flex-direction: column;
            margin-bottom: 580px;
        }
    }
}

/* ipad */

@media screen and (max-width: 1000px) {
    .container {
        width: 992px;
        padding: 0;
        margin: 0;
        display: flex;
    }
    .header {
        margin: 0;
        padding: 10px 40px;
        display: block;
        .col-7 {
            margin: 0;
            ul {
                margin: 0;
                li {
                    margin: 10px 70px 0 0;
                }
            }
        }
    }
    .gallery-hero__title {
        margin: 0 40px;
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 32px;
        }
    }
    .gallery-hero__images {
        flex-direction: column;
        width: 290%;
    }
    .footer {
        padding-bottom: 140px;
        .container {
            height: 400px;
        }
        &__row {
            flex-direction: column;
        }
        &__logo {
            margin: 0 0 20px 0;
            img {
                width: 60%;
            }
        }
        &__info {
            margin: 0 0 10px 40px;
            .footer__span {
                font-size: 12px;
                margin: 0;
            }
            ul {
                li {
                    font-size: 10px;
                    margin: 0;
                }
            }
        }
        &__contacts {
            width: 150px;
            margin: 0 0 10px 20px;
            .footer__span {
                font-size: 12px;
                margin: 0;
            }
            ul {
                li {
                    &:last-child {
                        margin: 0;
                        svg {
                            margin: 0 5px 0 0;
                            width: 15px;
                        }
                    }
                    margin: 0;
                    font-size: 10px;
                    .location {
                        margin: 0;
                        svg {
                            margin: 0;
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            width: 100px;
                            height: 30px;
                        }
                    }
                    .number {
                        margin: 0;
                        svg {
                            margin: 0 5px 0 0;
                            width: 15px;
                        }
                    }
                }
            }
        }
        &__social {
            margin: 0 0 10px 20px;
            .footer__span {
                font-size: 12px;
                margin: 0;
            }
            .footer__social-icons {
                display: flex;
                margin: 0;
            }
        }
    }
    .copyright {
        width: 500px;
    }
    .col-8 {
        img {
            width: 100%;
        }
    }
    .about {
        .container {
            .about__items {
                flex-direction: column;
                .about__item {
                    img {
                        width: 72%;
                    }
                }
                .about__main {
                    margin-left: 260px;
                    p {
                        text-align: center;
                    }
                }
                .about__item-two {
                    .about__image3 {
                        margin: 30px 0 0 100px;
                        width: 72%;
                    }
                }
            }
        }
    }
    .tasks {
        .container {
            flex-direction: column;
            h3 {
                margin-left: 120px;
            }
            .task__numbers {
                margin-left: 100px;
            }
        }
    }
    .projects {
        .container {
            .project__items {
                .title {
                    margin-left: 162px;
                }
                .project__images {
                    margin-left: 100px;
                    .project__image {
                        .project-image__info {
                            width: 192%;
                            .project-image__button {
                                span {
                                    margin-left: 160px;
                                }
                            }
                        }
                    }
                    .project__image3 {
                        .project-image__info {
                            margin-left: 150px;
                            width: 45%;
                            height: 90%;
                            top: 12px;
                            h5 {
                                padding: 65px 0 0;
                                font-size: 40px;
                            }
                        }
                    }
                    .project__image4 {
                        .project-image__info {
                            margin-left: 50px;
                            top: 13px;
                            width: 471px;
                            .project-image__button {
                                span {
                                    padding-left: 180px;
                                }
                            }
                        }
                    }
                    .project__image5 {
                        .project-image__info {
                            margin-left: 100px;
                            top: 15px;
                            width: 62%;
                            h5 {
                                padding-top: 70px;
                            }
                            .project-image__button {
                                span {
                                    padding-left: 136px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .contacts {
        .container {
            .contacts__parties {
                .contacts__left {
                    margin-bottom: 50px;
                    .form {
                        textarea {
                            width: 368px;
                        }
                    }
                }
            }
            .title {
                margin: 10px 120px 50px;
            }
        }
        &__parties {
            flex-direction: column;
            margin: 0 100px;
        }
        &__right {
            margin-bottom: 20px;
        }
    }
    .projects-hero-view {
        .container {
            .projects-hero__title {
                margin-left: 230px;
            }
        }
        &__row {
            display: block;
            margin-left: 50px;
            .titles {
                .project__title {
                    width: 100%;
                }
                .subtitle {
                    width: 70%;
                    height: 50px;
                }
                .arrow {
                    margin-left: 200px;
                }
            }
        }
        .gallery-hero__slider {
            margin: 0 230px;
            .hero__pages {
                svg {
                    margin: 0 15px;
                }
            }
        }
    }
    .certificates {
        &__title {
            margin-left: -190px;
        }
        &__img {
            flex-direction: column;
            width: 72%;
            margin-left: -90px;
        }
        .gallery-hero__slider {
            margin-right: 80px;
        }
    }
    .certificates__row {
        .certificates__right {
            margin-right: 250px;
            img {
                width: 72%;
            }
        }
        .certificates__left {
            margin-right: 220px;
            .certificates__title {
                margin-left: 1px;
            }
        }
    }
    .parking {
        &__title {
            margin: 0 -30px 50px;
        }
        &__img {
            img {
                width: 65%;
            }
        }
        &__view {
            p {
                width: 550px;
            }
        }
    }
}

/* Iphone */ 

@media screen and (max-width: 576px) {
    .container {
        width: auto;
    }
    .header {
        .col-7 {
            ul {
                li {
                    margin: 10px 10px 0 0;
                }
                a {
                    font-size: 8px;
                }
            }
        }
    }
    .hero {
        &__top {
            .title {
                .col-4 {
                    h1, h2 {
                        font-size: 22px;
                    }
                }
                .next, .prev {
                    padding: 0;
                    margin: 0;
                }
                .hero__pages {
                    span {
                        font-size: 15px;
                    }
                    svg {
                        margin: 0;
                        height: 15px;
                    }
                }
            }
            .project__image {
                width: 80%;
                .project__look {
                    padding: 10px;
                    span {
                        font-size: 6px;
                    }
                    svg {
                        width: 12px;
                    }
                }
            }
        }
    }
    .about {
        .container {
            .about__items {
                .about__item {
                    img {
                        width: 80%;
                        margin: 0 0 20px 40px;
                    }
                }
                .about__item-two {
                    .about__image3 {
                        width: 80%;
                        margin: 0 0 0 40px;
                    }
                }
                .about__main {
                    margin: 20px 70px;
                }
            }
        }
    }
    .tasks {
        .container {
            .title {
                margin: 0;
                font-size: 44px;
                text-align: center;
            }
            .task__numbers {
                margin-left: 50px;
                .task__number1 {
                    span {
                        height: 180px;
                        font-size: 120px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                .task__number2 {
                    span {
                        height: 180px;
                        font-size: 120px;
                    }
                    p {
                        font-size: 14px;
                        margin-left: 20px;
                        width: 175px;
                        height: 160px;
                    }
                }
            }
        }
    }
    .projects {
        .container {
            .project__items {
                .title {
                    margin: 60px 40px 40px;
                    font-size: 44px;
                }
                .project__images {
                    margin-left: 40px;
                    .project__image {
                        .project-image__info {
                            height: 78px;
                            top: 15px;
                            padding-left: 110px;
                            width: 88%;
                            h5 {
                                font-size: 24px;
                                margin-left: -80px;
                                padding-top: 0;
                            }
                            .project-image__button {
                                span {
                                    margin: 0 0 0 -15px;
                                    padding: 0;
                                }
                            }
                        }
                        img {
                            width: 160%;
                            margin-bottom: 20px;
                        }
                    }
                    .project__image3 {
                        img {
                            width: 50%;
                            margin: 0 100px 15px 0;
                        }
                        .project-image__info {
                            height: 96%;
                            width: 50%;
                            top: 0;
                            margin: 0 48px;
                            h5 {
                                font-size: 26px;
                                padding: 50px 0 0;
                            }
                            .project-image__button {
                                span {
                                    padding-left: 40px;;
                                }
                            }
                        }
                    }
                    .project__image4 {
                        img {
                            width: 70%;
                            margin: 15px 100px 15px 0;
                            }
                        .project-image__info {
                            height: 150px;
                            width: 274px;
                            margin-left: 8px;
                            bottom: 19px;
                            h5 {
                                padding-top: 30px;
                                font-size: 32px;
                            }
                            .project-image__button {
                                span {
                                    padding-left: 80px;
                                }
                            }
                        }
                    }
                    .project__image5 {
                        img {
                            width: 300px;
                            margin-right: 90px;
                        }
                        .project-image__info {
                            height: 87%;
                            width: 77%;
                            top: 12px;
                            margin: 0;
                            h5 {
                                padding: 50px 0 0;
                                font-size: 50px;
                            }
                            .project-image__button {
                                span {
                                    padding-left: 95px;
                                }
                            }
                        }
                    }
                }
                .project__items-button {
                    .button {
                        padding: 10px;
                        margin-left: 20px;
                        a {
                            span {
                                font-size: 8px;
                            }
                            svg {
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .contacts {
        .container {
            .title {
                font-size: 44px;
                margin-left: 70px;
            }
            .contacts__parties {
                margin: 0;
                .contacts__left {
                    margin-left: 40px;
                    form {
                        width: 295px;
                        textarea {
                            width: 275px;
                        }
                    }
                }
                .contacts__right {
                    img {
                        width: 80%;
                        height: 100%;
                        margin-left: 40px; 
                    }
                }
            }
            .contacts__button {
                margin-left: 150px;
                .button {
                    padding: 5px;
                    a {
                        span {
                            font-size: 6px;
                        }
                        svg {
                            width: 12px;
                        }
                    }
                }
            }
        }
    }
    .gallery-hero {
        &__images {
            margin: 0 85px;
        }
        &__image {
            img {
                width: 93%;
            }
            &:hover .gallery-hero__info {
                opacity: 1;
                left: 0;
                top: 160px;
            }
            .gallery-hero__info {
                width: 167px;
                padding-left: 10px;
                span {
                    font-size: 14px;
                }
            }
        }
        &__slider {
            margin: 0 50px;
            .next, .prev {
                margin-top: 80px;
            }
        }
    }
    .projects-hero-view {
        .container {
            .projects-hero__title {
                margin: 0;
                h1, h2 {
                    font-size: 32px;
                    margin: 10px 0 0 40px;
                }
            }
        }
        &__row {
            margin: 0;
        }
        &__img {
            margin: 10px 30px 0 40px;
            img {
                width: 100%;
            }
        }
        .titles {
            margin: 20px 0 0 40px;
            .project__title {
                font-size: 20px;
            }
            .subtitle {
                width: 90%;
                height: 130px;
            }
            .arrow {
                margin: 0;
                a {
                    padding: 20px;
                    span {
                        font-size: 8px;
                    }
                    svg {
                        width: 12px;
                    }
                }
            }
        }
        .gallery-hero__slider {
            margin: 0 40px 40px;
            align-items: center;
            .hero__pages {
                margin: 0 20px 15px 0;
                height: 20px;
                svg {
                    height: 20px;
                }
            }
            .next, .prev {
                margin: 0;
            }
        }
    }
    .certificates {
        &__title {
            margin: 0;
            h1, h2 {
                font-size: 32px;
            }
        }
        &__img {
            margin: 0;
        }
        &__slider {
            margin: 0;
        }
    }
    .certificates__row {
        .certificates__right {
            margin: 20px 35px 0 0;
            svg {
                margin: 40px 0 0 -200px;
            }
        }
        .certificates__left {
            margin: 0;
        }
    }
    .parking {
        &__wrapper {
            margin: 0 40px;
        }
        &__title {
            margin: 0 0 30px;
            h1, h2 {
                font-size: 32px;
            }
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__view {
            height: 850px;
            p {
                width: 300px;
                margin: 0;
            }
        }
    }
}

